target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### VS Code ###
.vscode/

### Logs ###
*.log
logs/

### H2 Database ###
*.db
*.mv.db
*.trace.db

### Mac OS ###
.DS_Store 